<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAakxcKAz1g5Ad_sZJ2laFtstFL_g3M-Pw</string>
	<key>GCM_SENDER_ID</key>
	<string>418667716249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenzen</string>
	<key>PROJECT_ID</key>
	<string>zenzen-5adb7</string>
	<key>STORAGE_BUCKET</key>
	<string>zenzen-5adb7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418667716249:ios:dbbeabdb5c0a28366d2208</string>
</dict>
</plist>